/* --------------- Fonts used : Poppins + Abril Fatface --------------- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Serif+Pro&display=swap');
/* --------------- Website Theme --------------- */

:root {
  --main-color-1: white;
  --main-color-dark-1: white;
  --main-color-2: white;
  --main-color-dark-2: white;
  --section-padding: 7rem;
}

body {
  --bg-color: white;
  --bg-color-1: white;
  --bg-color-2: #fff;
  --bg-color-3: white;
  --bg-color-transparent: rgba(255, 255, 255, 0.6);
  --heading-color: black;
  --text-color: black;
}



/* --------------- General Styles --------------- */

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: " Roboto", sans-serif;
}

::selection {
  background-color: black;
  color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* --------------- Reusable CSS Code --------------- */
.container{
  position: relative;
  width:100% ;
  max-width: 75rem;
  padding: 0 1.5rem;
  margin: 0 auto;
  height: auto;
}

.sub-heading{
  font-weight: lighter;
  font-size: 25px;
  font-family: 'Source Serif Pro', serif;
  margin-left: -320px;
  padding-top: 50px;
}
.foot{
  height: 150px;
}

.heading{
  font-weight: lighter;
  font-size: 50px;
  font-family: 'Source Serif Pro', serif;
  margin-top: 100px;
  padding-bottom: 80px;
  margin-left: -530px;
  text-align: center;
 }
 .content{
  margin-top: 60px;
  margin-left: 485px;
  padding-top: 20px;
  padding-bottom: 150px;
 }
 
 .text{
  margin-left: -320px;
  width: 850px;
  line-height: 2;
  font-weight: lighter;
  padding-top: 10px;
 }
 

 .name2 .heading{
  font-weight: lighter;
  font-size: 80px;
  font-family: 'Source Serif Pro', serif;
  margin-top: 350px;
  padding-top: 80px;
  padding-bottom: 50px;
  width: 1000px;
  background-color: transparent;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  opacity: 0;
 }
 
 .link{
  color: black;
 }

 .bggray{
  background-color: rgb(244, 243, 243);
  margin-top: -880px;
  width: 100%;
 }

 .center{
  text-align: center;
  margin-left:  -350px;
 }

 .map{
  margin-top: 50px;
  margin-left: -625px;
  width: 215%;
  border-radius: 30px;
 }
 .sub{
  font-size: 20px;
  margin-top: -70px;
  font-weight: lighter;
 }
 


/* --------------- Navbar Styling --------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 100px;
  background-color: transparent;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: 105;
  
}


.links{
  position: absolute;
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 220px;
  margin-top: 35px;
}
.links ul {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-link{
  position: relative;
  display: inline-block;
  margin: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  letter-spacing: 0.5px;
  color: black;
  
}

.nav-link::after{
  content: "";
  position: absolute;
  width:0;
  height: 40px;
  background-color: gray;
  right: -20%;
  bottom: -10px;
  border-radius: 10px;
}
.nav-link:hover{
  color:black;
  filter: drop-shadow( 0 0 60px gray);
  opacity: 100;
}

.nav-link:hover::after{
  width: 140%;
  opacity: 0.3;
 

}
/* --------------- Showcase Area Styling --------------- */
.showcase-area {
  margin-top: 30px;
  height: 550px;
}
.showcase-image .person{
  position: fixed;
  margin-top: -670px;
  margin-left: -570px;
  z-index: -1;
 }
 .showcase-area .name{
  margin-left: 470px;
  
 }
 .showcase-area .name .heading{
  font-weight: lighter;
  font-size: 80px;
  font-family: 'Source Serif Pro', serif;
  margin-top: 390px;
  padding-top: 60px;
  padding-bottom: 80px;
  margin-left: -80px;
  width: 200%;
  background-color: transparent;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  text-align: left;
 }
 .showcase-area .name .heading span{
  margin-left: 5px;
  background-color:black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-radius: 20px;
 }
 .button{
  position: relative;
  padding-top: 40px;
  border: none;
  background-color: transparent;
 
  padding-left: 30px;
  z-index: 1;
  
 }
 .btn{
  margin-left: 1330px;
 }

.button:hover{
  color:grey;
  filter: drop-shadow( 0 0 60px gray);
  opacity: 100;
}

 .pause{
  font-size: larger;
 }
 .heading_small{
  
  position: relative;
  margin-left: 735px;
  margin-top: -120px;
 }
 .heading_small .sub-heading{
  font-size: 30px;
 }
/* --------------- Research Section Styling --------------- */
.research{
  background-color: rgb(244, 243, 243);
  width: 100%;
}
/*.research .content .heading{
  margin-left: -50px;
 }*/

 /*.research .name{
  margin-top: 60px;
  margin-left: 485px;
  padding-top: 20px;
  padding-bottom: 150px;
 }
*/
 .research .content span{
  padding-left: 20px;
 }

 /* --------------- Software Section Styling --------------- */
/*.software .heading{
  padding-left: 40px;
}*/

.text_double{
  line-height: 2;
  font-weight: lighter;
  width: 400px;
 }
.sub-heading_double{
  padding-top: 300px;
  font-weight: lighter;
  font-size: 25px;
  font-family: 'Source Serif Pro', serif;
}
.column1 .sub-heading_double{
margin-top: -80px;
}

.row {
  display: flex;
  margin-left: -350px;
  margin-top: -150px;
  
}
.column {
  flex: 50%;
}
.pic{
  border-radius: 30px;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.5);
}


.column1 .pic{
  margin-top: 220px;
}

.column2 .pic{
  margin-top: 200px;
}
.column1{
 margin-left: -50px;
 width: 500px;
}
.column2{
  margin-left: 100px;
  width: 500px;
}
.long{
  margin-left: -100px;
}

/* --------------- News Section Styling --------------- */
/*.news .heading{
  padding-left: 70px;
}*/

/* --------------- Contact Section Styling --------------- */
/*.contact .heading{
  padding-left: 10px;
}*/
/* --------------- Positions Section Styling --------------- */
/*.position .heading{
  margin-left: -200px;
}*/


/* --------------- Footer Styling --------------- */
.foot{
  position: absolute;
  background-color: transparent;
  box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  z-index: 10;
  width: 100%;
}
.foot .fa-twitter{
  margin-top: 50px;
  margin-left: 13px;
  color: black;
}
.foot .fa-github  {
  margin-top: 50px;
  margin-left: 545px;
  color: black;
}
.foot .fa-linkedin-square  {
  margin-top: 50px;
  margin-left: 10px;
  color: black;
}
.foot .text{
  font-size: smaller;
  font-weight: lighter;
  margin-left: 530px;
  padding-top: 10px;
}
.foot .text2{
  font-size: smaller;
  font-weight: lighter;
  margin-left: 515px;
  padding-top: 0;
}
/* --------------- Transition --------------- */
.transition-1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-out;
}

.transition-1.is-active {
  pointer-events: all;
  opacity: 1;
}




/* --------------- 1000px Screens --------------- */

@media (max-width: 1000px) {
  .showcase-area .name .heading{
    font-size: 70px;
  }
  .sub-heading{
    font-size: 20px;
    margin-left: -380px;
  }
  .heading{
    margin-left: -660px;
  }
  .heading_small{
    margin-left: 780px;
    
  }
  .heading_small .sub-heading{
    font-size: 25px;
  }
  .text{
    width: 650px;
    font-size: 14px;
    margin-left: -380px;
  }
  .bggray{
   width: 150%;
  }
  .research{
    width: 150%;
  }
  .links{
    margin-left: 100px;
  }
  .foot .fa-github  {
    margin-left: 400px;
    color: black;
  }

  .foot{
    width: 150%;
  }
  .foot .text{
    margin-left: 390px;
  }
  .foot .text2{
    margin-left: 370px;
  }
  .btn{
    margin-left: 650px;
   }

}

/* --------------- 768px Screens --------------- */

@media (max-width: 768px) {
  .showcase-area .name .heading{
    font-size: 50px;
    width: 1000px;
  }
  .bggray{
    width: 200%;
   }
   .research{
    width: 200%;
  }
   .foot{
    width: 200%;
  }

  .btn{
    margin-left: 500px;
   }
}

/* --------------- 500px Screens --------------- */

@media (max-width: 500px) {
  .bggray{
    width: 300%;
   }
   .research{
    width: 300%;
  }
   .foot{
    width: 300%;
  }
  .btn{
    margin-left: 400px;
   }
   .nav-link{
    font-size: 12px;
   }
}
